@import "./src/best-movie/best-movie.css";
@import "./src/modal/modal.css";
@import "./src/movie-panel/interactive-elements.css";
@import "./src/movie-panel/panel-movies.css";

/* bootstrap breakpoints :
sm > 576
md > 768
lg > 992 */

html {
  font-size: 24px;
}

body {
  padding: 2.5rem 4rem;
  max-width: 1200px;
  margin: auto;
  font-family: "oswald", sans-serif;
}

h1 {
  font-size: 48px;
}

header {
  background-color: #61787f;
}

.header-logo {
  max-width: 170px;
}

header h1 {
  color: white;
  font-weight: 300;
  font-size: 40px;
}

section h1 {
  margin: 1rem 0 1.5rem 0;
}

.container {
  max-width: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    padding: 20px 30px;
  }
}
